body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:944px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:1832px;
  height:944px;
}
#u42 {
  position:absolute;
  left:2px;
  top:464px;
  width:1828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u43 {
  position:absolute;
  left:0px;
  top:664px;
  width:280px;
  height:280px;
}
#u44 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#20A0FF;
}
#u45 {
  position:absolute;
  left:0px;
  top:506px;
  width:280px;
  height:53px;
  font-size:14px;
  color:#20A0FF;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u47 {
  position:absolute;
  left:0px;
  top:558px;
  width:280px;
  height:53px;
  font-size:14px;
  color:#CCCCCC;
}
#u48 {
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u49 {
  position:absolute;
  left:0px;
  top:610px;
  width:280px;
  height:53px;
  font-size:14px;
  color:#CCCCCC;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(50, 65, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BFC9D5;
}
#u51 {
  position:absolute;
  left:116px;
  top:459px;
  width:83px;
  height:35px;
  color:#BFC9D5;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:2px;
}
#u54 {
  position:absolute;
  left:351px;
  top:126px;
  width:1429px;
  height:1px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u56 {
  position:absolute;
  left:920px;
  top:84px;
  width:206px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u57 {
  position:absolute;
  left:0px;
  top:4px;
  width:206px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u59 {
  position:absolute;
  left:612px;
  top:178px;
  width:151px;
  height:31px;
  font-size:16px;
  text-align:center;
}
#u60 {
  position:absolute;
  left:0px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:773px;
  top:177px;
  width:344px;
  height:32px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u63 {
  position:absolute;
  left:612px;
  top:241px;
  width:151px;
  height:31px;
  font-size:16px;
  text-align:center;
}
#u64 {
  position:absolute;
  left:0px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:773px;
  top:237px;
  width:140px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u68 {
  position:absolute;
  left:773px;
  top:289px;
  width:344px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u69 {
  position:absolute;
  left:2px;
  top:9px;
  width:340px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u70 {
  position:absolute;
  left:1080px;
  top:299px;
  width:24px;
  height:16px;
  font-size:14px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u73 {
  position:absolute;
  left:612px;
  top:351px;
  width:151px;
  height:31px;
  font-size:16px;
  text-align:center;
}
#u74 {
  position:absolute;
  left:0px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:773px;
  top:351px;
  width:344px;
  height:32px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u75_input:disabled {
  color:grayText;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u77 {
  position:absolute;
  left:612px;
  top:411px;
  width:151px;
  height:31px;
  font-size:16px;
  text-align:center;
}
#u78 {
  position:absolute;
  left:0px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:773px;
  top:411px;
  width:344px;
  height:32px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:698px;
  top:471px;
  width:140px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:867px;
  top:471px;
  width:140px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:1035px;
  top:471px;
  width:140px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
